<!-- THIS WILL BE OUR HOME PAGE FOR THE APP -->

<!DOCTYPE html>
<html>
    <head>
        <title>
            Spotify Song Suggester
        </title>
        <link rel="stylesheet" href="https://unpkg.com/picnic">
    </head>

    <body>
        <article class="flex two" style="padding: 3em 1em">
            {%  block content %}
                <div>
                    <h1>
                        Hello, World!
                    </h1>
                </div>
            {% endblock %}
        </article>
    </body>
</html>